*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 

.main-head{
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    font-family: 'Abril Fatface';
    font-size: xx-large;
    color: rgb(255, 146, 3);
    letter-spacing: 2px;
    background-color: black;
}
#color{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}
button{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border: 3px solid black;
    border-radius: 10px 5px 5px 10px;
    cursor: pointer;
    font-family: 'Abril Fatface';
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 2px;
    background-color: lightyellow;
    margin-bottom: 30px;
    align-items: center;

}
a{
    color: black;
    text-decoration: none;
}

.footer{
    position: fixed;
    margin-top: 10px;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(27, 22, 22);
    color: white;
    text-align: center;
    font-family: 'Black Ops One';
    font-size: 25px;
}
a{
    color: #fdfdfd;
    text-decoration: none;
}
a:hover{
    color: #bdaf37;
    text-decoration: none;
}



